.input-group-addon {
    display: flex;
    box-align: center;
    align-items: center;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25;
    color: #3e515b;
    text-align: center;
    border: 1px solid #c2cfd6;
    min-width: 40px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &:not(:last-child) {
        border-right: 0;
    }
}

.translation-listing .table td:last-of-type {
    min-width: 0;
}

.card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.input-group .btn-group.input-group-btn {
    display: flex;
    margin-left: -1px;
    white-space: nowrap;
    vertical-align: middle;
    & > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 700px) {
    .input-group button {
        font-size: 0.875rem !important;
    }    
}
