// Uncategorised styles, will refactor if it gets bigger
.avatar-initials {
    background-color: $primary;
    color: white;
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
}

.no-items-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    &>i {
        color: rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        font-size: 70px;
    }
    h3 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
    p {
        color: #7e8990;
        font-weight: 500;
        text-align: center;
    }
}

.welcome-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    min-height: 200px;
    blockquote {
        font-family: Georgia, serif;
        font-size: 25px;
        font-style: italic;
        max-width: 100%;
        margin: 0.25em 0;
        padding: 0.25em 0 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
    }
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 89px;
        position: absolute;
        left: -15px;
        top: -20px;
        color: #7a7a7a;
    }
    blockquote cite {
        color: #999999;
        font-size: 18px;
        display: block;
        margin-top: 10px;
    }
    blockquote cite:before {
        content: "\2014 \2009";
    }
}

.localization-error {
    background-image: url('../../../img/error-triangle.png');
    position: relative;
    top: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.fa-spinner {
    animation: spin 1s linear infinite;
}

.has-access i {
    font-size: 20px;
}

.file-field {
    position: relative;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    height: 2.5rem;
}

.file-field input.file-path {
    width: 100%;
    height: 30px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-check-label {
    padding-left: 0.25rem;
}

.label-import {
    width: 78%;
}

.import-radio {
    box-sizing: border-box;
    padding: 0;
    vertical-align: top;
    position: relative;
    top: 5px;
}

.dropdown-menu {
    .dropdown-item-label {
        display: block;
        width: 100%;

        clear: both;
        font-weight: normal;
        color: #151b1e;
        text-align: inherit;
        white-space: nowrap;
        background: none;
        border: 0;

        position: relative;
        border-bottom: 1px solid #F0F2F4;
        label {
            width: 100%;
            padding: 10px 20px;
            padding-left: 40px;
            margin: 0;

            &:before {
                left: 10px;
                top: 10px;
            }

            &:after {
                top: 15px;
                left: 15px;
            }
        }
    }

    .btn.btn-primary {
        text-align: center;
        color: white;
        border-radius: 0;
    }
}

.translations-export {
    position: absolute;
}

.tranlations-export-dropdown {
    position: relative !important;
    left: -15px !important;
}

@media (max-width: 991px) {
    .avatar-initials {
        display: none;
    }
}

@media (max-width: 450px) {
    .no-items-found {
        padding: 10px 0;
    }
}